In [1]:
import pandas as pd
import pybroker
from pybroker.data import DataSource

In [ ]:
class CSVDataSource(DataSource):

    def __init__(self):
        super().__init__()
        # Register custom columns in the CSV.
        pybroker.register_columns('rsi')

    def _fetch_data(self, symbols, start_date, end_date, _timeframe, _adjust):
        df = pd.read_csv('data/prices.csv')
        df = df[df['symbol'].isin(symbols)]
        df['date'] = pd.to_datetime(df['date'])
        return df[(df['date'] >= start_date) & (df['date'] <= end_date)]

In [ ]:
# notebook中清洗数据，建立指标，训练；回测用pybroker
#

In [3]:
raw_sp500 = pd.read_csv("../data/raw/sp500_stocks.csv")
raw_sp500.head()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,40.553387,69.414719,69.774246,69.122070,69.473244,3640265.0
1,2010-01-05,MMM,40.299385,68.979935,69.590302,68.311035,69.230766,3405012.0
2,2010-01-06,MMM,40.870914,69.958191,70.735786,69.824417,70.133781,6301126.0
3,2010-01-07,MMM,40.900219,70.008362,70.033447,68.662209,69.665550,5346240.0
4,2010-01-08,MMM,41.188416,70.501671,70.501671,69.648827,69.974915,4073337.0

In [11]:
raw_sp500.loc[4,"Date"]

'2010-01-08'

In [17]:
df_sp500_20170117 = raw_sp500[raw_sp500.Date=="2017-01-17"]
df_sp500_20170117.to_csv("../data/processed/sp500_20170117.csv")

In [18]:
spx_list = list(raw_sp500[raw_sp500.Date=="2017-01-17"].Symbol)

In [2]:
from pybroker import YFinance

In [30]:
yfinance = YFinance()
# YFinance().query(spx_list[0:3], start_date='1/1/2017',end_date='15/1/2017', _timeframe='1d', _adjust='all')
df = yfinance.query(spx_list, start_date='1/1/2017', end_date='15/5/2024')
# using spx500, 2017-01-17 compositions
df.to_csv("../data/raw/spx500_2017-2024.csv")

Loading bar data...

D:\Anaconda3\envs\quantenv\lib\site-packages\pybroker\common.py:227: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  return pd.to_datetime(date).to_pydatetime()
[                       1%%                      ]  4 of 503 completedWARNING:urllib3.connectionpool:Connection pool is full, discarding connection: query2.finance.yahoo.com. Connection pool size: 10
[**********************99%%**********************]  499 of 503 completedWARNING:urllib3.connectionpool:Connection pool is full, discarding connection: query2.finance.yahoo.com. Connection pool size: 10
[*********************100%%**********************]  501 of 503 completedWARNING:urllib3.connectionpool:Connection pool is full, discarding connection: query2.finance.yahoo.com. Connection pool size: 10
[*********************100%%**********************]  503 of 503 completed

Loaded bar data: 0:00:40

In [31]:
df_test = pd.read_csv("../data/raw/spx500_2017-2024.csv")
df_test.head()

,Unnamed: 0,date,symbol,open,high,low,close,volume,adj_close
0,0,2017-01-03,A,45.930000,46.750000,45.740002,46.490002,1739600.0,43.975956
1,1,2017-01-03,AAL,47.279999,47.340000,46.139999,46.299999,6737800.0,44.741226
2,2,2017-01-03,AAPL,28.950001,29.082500,28.690001,29.037500,115127600.0,26.952707
3,3,2017-01-03,ABBV,62.919998,63.029999,61.939999,62.410000,9328200.0,45.028652
4,4,2017-01-03,ABNB,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df_test01 = df_test[~df_test.symbol.isin(list(df_test[df_test.open.isnull()].symbol.drop_duplicates()))]

In [44]:
df_test01.to_csv("../data/processed/spx500_2017-2024_notnull.csv")

In [ ]:
# 特征工程

# 聚类